body {
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover
}


.topnav {
    background-color: black;
    overflow: hidden;
}

    .topnav a {
        color: white;
        display: block;
        float: left;
        font-size: 17px;
        padding: 14px 16px;
        text-align: center;
        text-decoration: none;
    }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

    .topnav .search-container {
        float: right;
    }

    .topnav input[type=text] {
        border: none;
        font-size: 17px;
        margin-top: 8px;
        padding: 6px;
    }

    .topnav .search-container button {
        background: #ddd;
        border: none;
        cursor: pointer;
        float: right;
        font-size: 17px;
        margin-right: 16px;
        margin-top: 8px;
        padding: 6px;
    }

        .topnav .search-container button:hover {
            background: #ccc;
        }

label {
    color: white;
}

img {
    height: 18em;
    width: 100%;
}

.w3-content {
    max-width: 90%;
}

h1 {
    color: ghostwhite;
    font-family: serif;
    letter-spacing: 15px;
    text-align: center;
    text-shadow: 3px 2px grey;
}

h2 {
    color: crimson;
}

.column {
    color: antiquewhite;
    float: left;
    padding-left: 2%;
    padding-right: 2%;
    text-align: justify
}

.row {
    display: flex;
}

caption {
    color: crimson;
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 30px;
    font-weight: 400;
}

table {
    margin: 5%;
    width: 90%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
}

table tr:nth-child(even) {
    background-color: #eee;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

table th {
    background-color: black;
    color: white;
}
