@media screen and (max-device-width: 480px) {
    .topnav .search-container {
        float: none;
    }

        .topnav a, .topnav input[type=text], .topnav .search-container button {
            display: block;
            float: none;
            margin: 0;
            text-align: left;
            width: 100%;
        }

    .topnav input[type=text] {
        border: 1px solid #ccc;
    }

    .row {
        display: block
    }
}
